.flag-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; Ensure the icons and text are on opposite sides */
  margin-bottom: 10px; /* Adjust spacing if needed */
}

.india-flag {
  width: 25px;  /* Adjust size as needed */
  margin-right: 10px;
}

.gov-notice {
  font-size: 14px;
  color: white;
  margin-right: 10px; /* Add some spacing between the text and the button */
  display: inline-block;
  /* padding-right: 71% ; */
  width : 90%;
}

.learn-more-container{
  display: flex;
}

.learn-more-left {
  margin-left: 0;
  display: inline-block; /* Ensure the button is inline with the text */
  vertical-align: middle; /* Align the button vertically with the text */
  padding-right: 30%;
  padding-bottom: 4px;
}

.learn-more-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px; /* Smaller padding for a smaller button */
  font-size: 12px;   /* Smaller font size */
  border-radius: 30px; /* Adjust border radius for a smaller button */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* Adjust margin to keep button closer to the text */
  /* padding-bottom: 20px; */
  /* padding-right: 50px; */
}

.learn-more-btn:hover {
  background-color: #0056b3;
}

/* Style for aligning the social media icons on the right */
.social-media-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; /* Align icons to the right */
  padding: 0;
  margin: 0;
}

.social-media-links li {
  margin-left: 15px; /* Adjust spacing between the icons */
}

.social-icon {
  font-size: 24px;
  color: white;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #1da1f2;
}
